/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 28, 2023, 3:56:24 PM
    Author     : jharna
*/
.navbar .navbar-brand-wrapper {
    background: #c6b9a6;
}
.sidebar {
    background: #c6b9a6;
}
.sidebar .nav .nav-item .nav-link {
    color: #77614c;
}
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon {
    color: #9a8988;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #1B0E07;
}
.sidebar .nav .nav-item:hover {
    background: #E1DEDD;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
    color: #72665F;
}
.text-dark {
    color: #613E2B !important;
}
.card {
    background-color: #EBE0D7;
}
.navbar .navbar-menu-wrapper {
    background: #EBE0D7;
}
.content-wrapper {
    background: #F8F2ED;
}
.footer {
    background: #8F7662;
}
.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
    color: #000 !important;
}
span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center {
    color: #000 !important;
}
.btn-primary {
    background-color: #9B6C47;
    border-color: #9B6C47;
}
.btn-primary:hover {
    background-color: #9B6C47;
    border-color: #9B6C47;
}
.btn-primary:not(.btn-light):hover, .btn-primary:not(.btn-light):focus, .btn-primary:not(.btn-light):active {
    color: #000;
}
.btn-primary:not(.btn-light):focus, .btn-primary:not(.btn-light):active {
    background: #9B6C47;
    border-color: #9B6C47;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    background-color: #9B6C47;
    border-color: #9B6C47;
}
.sidebar .nav .nav-item.active > .nav-link:before {
    background: #1B0E07;
}
