/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 28, 2023, 3:56:24 PM
    Author     : jharn
*/
.navbar .navbar-brand-wrapper {
    background: #c6b9a6; 
}
.sidebar {
    background: #c6b9a6; 
}
.sidebar .nav .nav-item .nav-link {
    color: #77614c;
}
.sidebar .nav .nav-item .nav-link .icon-bg .menu-icon {
    color: #9a8988;
}
.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #1B0E07; 
}
.sidebar .nav .nav-item:hover {
    background: #E1DEDD;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {
    color: #72665F;
}
.text-dark {
    color: #613E2B !important;
}
.card {
    background-color: #EBE0D7;
}
.navbar .navbar-menu-wrapper { 
    background: #EBE0D7;
}
.content-wrapper {
    background: #F8F7F6;
}
.footer {
    background: #8F7662;
}
.text-muted, .preview-list .preview-item .preview-item-content p .content-category {
    color: #000 !important;
}
span.float-none.float-sm-right.d-block.mt-1.mt-sm-0.text-center {
    color: #000 !important;
}
.btn-primary {
    color: #fff;
    background-color: #976B48;
    border-color: #976B48;
}
/*.navbar .navbar-menu-wrapper, .main-panel {
    width: 100%;
}*/

.site-title {
    font-size: 30px;
    font-family: "nunito-bold", sans-serif;
    color: #001737 !important;
    padding: 5px 0 0 10px;
    margin-bottom: -10px;
}
span.site-tagline {
    font-size: 12px;
    padding: 0 10px;
    margin-left: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #976B48 !important;
    border-color: #976B48 !important;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
    text-align: center;
}
.card .card-body {
    padding: 2.5rem 2.5rem;
    text-align: center;
}

.navbar-menu-wrapper.d-flex.align-items-stretch.landingNav {
    width: 100%;
}

.main-panel.landingpanel{
    width: 100%;
}